{% extends 'base.html' %}
<!-- Load Static -->
{% load static %}
<!-- Load Index Extras -->
{% load index_extras %}
<!-- Site Title -->
{% block title %}
<title>{{blog.title}}</title>
{% endblock title %}
<!-- Page Content -->
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">Blog Details Page</h1>
        <p class="text-white link-nav">
          <a href="/">Home </a>
          <span class="lnr lnr-arrow-right"></span
          ><a href="{% url 'blog:blogs' %}">Blog </a>
          <span class="lnr lnr-arrow-right"></span>
          <a href="#"> Blog Details Page</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start post-content Area -->
<section class="post-content-area single-post-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 posts-list">
        <div class="single-post row">
          <div class="col-lg-12">
            <div class="feature-img">
              <img class="img-fluid" src="{{blog.image.url}}" alt="" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3 meta-details">
            <ul class="tags">
              <li><a href="#">{{blog.category.name}}</a></li>
            </ul>
            <div class="user-details row">
              <p class="user-name col-lg-12 col-md-12 col-6">
                <a href="#">{{blog.author.name}}</a>
                <span class="lnr lnr-user"></span>
              </p>
              <p class="date col-lg-12 col-md-12 col-6">
                <a href="#">{{blog.date_featured}}</a>
                <span class="lnr lnr-calendar-full"></span>
              </p>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <a class="posts-title" href="#"><h3>{{blog.title}}</h3></a>
            <p class="excert">{{details|safe}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 sidebar-widgets">
        <div class="widget-wrap">
          <div class="single-sidebar-widget search-widget">
            <form
              class="search-form"
              action="{% url 'blog:search'%}"
              method="post"
            >
              <!-- CSRF Token -->
              {% csrf_token %}
              <input
                placeholder="Search Posts"
                name="query"
                type="text"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Search Posts'"
              />
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="single-sidebar-widget user-info-widget">
            <img src="{{blog.author.image.url}}" alt="" />
            <a href="#"><h4>{{blog.author.name}}</h4></a>
            <p>Blog writer</p>
            <ul class="social-links">
              <li>
                <a href="mailto:{{blog.author.email}}">{{blog.author.email}}</a>
              </li>
              </li>
            </ul>
            <p>
              {{blog.author.profile}}
            </p>
          </div>
          <div class="single-sidebar-widget popular-post-widget">
            <h4 class="popular-title">Similar Posts</h4>
            <div class="popular-post-list">
              {% for relative in related %}
              <!-- If not the same -->
              {% if relative.title != blog.title %}
              <div class="single-post-list d-flex flex-row align-items-center">
                <div class="thumb">
                  <img class="img-fluid" src="{{relative.image.url}}" alt="" />
                </div>
                <div class="details">
                  <a href="{% url 'blog:blog_details'%}?slug={{relative.slug}}"
                    ><h6>{{relative.title}}</h6></a
                  >
                  <p>{{relative.category.name}}</p>
                </div>
              </div>
              {% endif %} 
              <!-- End related -->
              {% endfor %}
            </div>
          </div>
          <div class="single-sidebar-widget ads-widget">
            <a href="#"
              ><img class="img-fluid" src="img/blog/ads-banner.jpg" alt=""
            /></a>
          </div>
          <div class="single-sidebar-widget post-category-widget">
            <h4 class="category-title">Post Catgory</h4>
            <ul class="cat-list">
              <li>
                <a href="#" class="d-flex justify-content-between">
                  <p>{{blog.category.name}}</p>
                  <!-- <p>37</p> -->
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End post-content Area -->
{% endblock content %}
